*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 1000;
    background-color: rgb(43, 42, 42);
    padding: 10px;
}
.input-number{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#display-Numbre{
    width: 300px;
    height: 50px;
    border: 1px solid rgb(48, 45, 45);
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
}
.calculator-contenre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    max-width: 350px;
    padding: 2rem;
    background-color: rgb(31, 29, 29);
    gap: 20px;
    box-shadow: 1px 1px 10px 5px white;
    border-radius: 5px;
    margin: 15px 15px;
}

.calculator-contenre h1{
    color: white;
    font-size: 2rem;

}
.inpute-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 10px;

}
.inpute-button button{
    width: 70px;
    height: 40px;
    /* border: none; */
    font-size: 1.2rem;
    font-weight:bolder;
    border-radius: 10px;
    background-color: black;
    border: none;
    color: white;
    box-shadow: 1px 1px 3px;
    cursor: pointer;
    transition: 0.3s ease;
    flex-wrap: wrap;  
}
#eual{
    background-color: rgb(252, 170, 18);
    box-shadow: 1px 2px  3px rgb(6, 6, 6);
    color: black;
}
.inpute-button button:hover{
    transform: scale(1.1);     /* zoom */
}